<nav class="navbar navbar-expand-md navbar-light d-print p-2" style="background-color: #378CE7;">
    <a class="navbar-brand"><img src="../../assets/logo.png" alt="Logo" class="logo" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collpase navbar-collapse" id="navbar-content">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/about">About</a>
            </li>
            <li class="nav-item" *ngIf="!isLoggedIn">
                <a class="nav-link" routerLink="/auth/login">Login</a>
            </li>
            <li class="nav-item" *ngIf="isLoggedIn">
                <a class="nav-link" routerLink="/tickets">Tickets</a>
            </li>
            <li class="nav-item" *ngIf="isLoggedIn && user && user.role=='CUSTOMER'">
                <a class="nav-link" routerLink="/tickets/new">New Issue</a>
            </li>
        </ul>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 profile-menu p-2" *ngIf="user">
            <div class="profile-pic">
                <p style="display: inline-block;">{{user.full_name}}</p>
                <li class="nav-item dropdown" style="display: inline-block;">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <img [src]="user.role==='CUSTOMER'?'../../assets/user.png': '../../assets/profile-emp.png'"
                            height="35px" width="35px" style="border-radius:100%" alt="">
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <button class="dropdown-item btn btn-primary" (click)="onLogout()">Logout</button>
                    </ul>
                </li>
            </div>
        </ul>
    </div>
</nav>