.nav-link:hover{
    font-weight: bolder;  
}
nav{
    max-height: 70px;
}
.logo{
    width: 40px;
    height: 40px;
    /* border-radius: 100%; */
}

.nav-link{
    color: #DFF5FF;
}

.profile-pic{
    padding: 5px;
    align-content: space-between;
}

.profile-pic img{
    margin-right: 7px;
}

.profile-pic p{
    margin-right: 7px;

}