<div class="container d-flex justify-content-center align-items-center">
    <div class="card" style="width: 18rem;">
        <img src="../../assets/ticket.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Tickets</h5>
            <p class="card-text">Browse through the tickets available for you.</p>
            <a routerLink="/tickets" class="btn btn-primary">Go to Tickets <i class="bi bi-arrow-right"></i></a>
        </div>
    </div>
</div>