<div class="my-3 container p-3">
    <h1>Your Tickets:</h1>
    <div class="d-flex justify-content-end mb-3 dropdown">
        <button class="btn btn-secondary dropdown-toggle me-2" type="button" data-bs-toggle="dropdown">Filter by date <i class="bi bi-sort-down"></i></button>
        <ul class="dropdown-menu" >
            <li><a class="dropdown-item" (click)="sortBy='dsc'">Latest First</a></li>
            <li><a class="dropdown-item" (click)="sortBy='asc'">Oldest First</a></li>
        </ul>
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">Filter by status <i class="bi bi-filter"></i></button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" (click)="filterBy='raised'">Raised</a></li>
            <li><a class="dropdown-item" (click)="filterBy='in_progress'">In Progress</a></li>
            <li><a class="dropdown-item" (click)="filterBy='closed'">Closed</a></li>
        </ul>
    </div>
    <ng-container *ngIf="filteredTickets.length<=0 ; else displayTickets">
        <div class="alert alert-info">
            <h2>No tickets to display</h2>
        </div>
    </ng-container>
    <ng-template #displayTickets>
        <app-ticket-item *ngFor="let ticket of filteredTickets | orderBy: sortBy | filterBy: filterBy" [ticket]="ticket"></app-ticket-item>
    </ng-template>
    
</div>
<ng-template #customerHeading>
    <h1>Tickets Raised by you:</h1>
</ng-template>
<ng-template #helpdeskHeading>
    <h1>Your tickets:</h1>
</ng-template>
<ng-template #managerHeading>
    <h1>All Tickets</h1>
</ng-template>