<div class="container my-2 p-3">
    <div class="container mb-3">
        <h1>Ticket Details</h1>
        <hr>
        <h2 class="title">Ticket #{{ticket.ticket_id}} <span class="badge" [ngClass]="{'bg-danger': ticket.status==='raised', 'bg-info': ticket.status==='in-progress', 'bg-dark': ticket.status==='closed'}">{{ticket.status}}</span></h2>
        <p class="fw-light"> Raised on {{ticket.created_on | date}}</p>
    
        <h3><span class="fw-bold">Title:</span> {{ticket.title}}</h3>
        <h4><span class="fw-bold">Description:</span> {{ticket.description}}</h4>
    </div>
    <div class="container mb-3 p-0" *ngIf="currentUser && currentUser.role !== 'CUSTOMER' && ticket.customer">
        <app-user-detail [user]="ticket.customer" role="Customer"></app-user-detail>
    </div>
    <div class="container mb-3 p-0" *ngIf="currentUser && currentUser.role !== 'EMPLOYEE' && ticket.helpdesk_assigned">
        <app-user-detail [user]="ticket.helpdesk_assigned" role="Helpdesk"></app-user-detail>
    </div>
    <div class="container mb-3" *ngIf="ticket.message_from_helpdesk">
        <app-message  title="Message from helpdesk" [message]="ticket.message_from_helpdesk"></app-message>
    </div>
    <div class="my-3">
        <ng-container *ngIf="currentUser?.role==='CUSTOMER'">
            <div *ngIf="feedback" class="container">
                <ng-container  [ngTemplateOutlet]="feedbackDisplay">
                </ng-container>
            </div>
            <div *ngIf="ticket.status === 'closed'" class="container my-4" style="border:0px;text-align: center;">
                <ng-container>
                    <button class="btn btn-primary" (click)="onAddOrEditFeedback()">{{feedback? 'Edit' : 'Add'}} feedback</button>
                </ng-container>
            </div>
        </ng-container>
        <ng-container *ngIf="currentUser?.role==='EMPLOYEE'">
            <ng-container *ngIf="ticket.status === 'raised'">
                <button class="btn btn-primary" [routerLink]="['/tickets', ticket.ticket_id, 'operation', 'resolve']">Resolve this ticket</button>
            </ng-container>
            <ng-container *ngIf="ticket.status === 'in_progress'">
                <button class="btn btn-primary" [routerLink]="['/tickets', ticket.ticket_id, 'operation', 'close']">Close this ticket</button>
            </ng-container>
            <div class="container">
                <ng-container *ngIf="messageFromMgr" [ngTemplateOutlet]="mgrMessageDisplay">
                </ng-container>
            </div>
        </ng-container>
        <ng-container *ngIf="currentUser?.role==='MANAGER'">
            <div *ngIf="feedback" class="container my-2">
                <ng-container  [ngTemplateOutlet]="feedbackDisplay">
                </ng-container>
            </div>
            <div *ngIf="messageFromMgr" class="container my-2">
                <ng-container [ngTemplateOutlet]="mgrMessageDisplay">
                </ng-container>
            </div>
            <div *ngIf="feedback && ticket.status === 'closed'" class="container my-4" style="border:0px;text-align: center;">
                <ng-container>
                    <button class="btn btn-primary w-100">Add Note to Helpdesk</button>
                </ng-container>
            </div>
        </ng-container>
    </div>
</div>

<ng-template #feedbackDisplay>
    <div class="card-body p-2" >
        <h3 class="card-title" style="text-align:center">Feedback from customer</h3>
        <hr/>
        <p-rating [(ngModel)]="feedback.stars" [readonly]="true" [cancel]="false"></p-rating>
        <p class="card-text">{{feedback.description}}</p>
        <p class="fw-light">{{feedback.created_on | date}}</p>
    </div>
</ng-template>

<<ng-template #mgrMessageDisplay>
    <div class="card-body p-2" >
        <h3 class="card-title" style="text-align:center">Note to helpdesk</h3>
        <hr/>
        <p class="card-text">{{messageFromMgr.message}}</p>
        <p class="fw-light">{{messageFromMgr.created_at | date}}</p>
    </div>
</ng-template>