<div class="container my-2 p-3">
    <div class="mb-3">
        <h1>Ticket Details</h1>
        <hr>
        <h3>
            Ticket #{{ticket.ticket_id}}
            <span class="badge rounded-pill"
                [ngClass]="{'bg-danger': ticket.status==='raised', 'bg-info': ticket.status==='in-progress', 'bg-dark': ticket.status==='closed'}">{{ticket.status}}</span>
            <span *ngIf="currentUser?.role === 'MANAGER'"
                class="ms-2 rounded-pill badge bg-primary">{{ticket.department.dept_name}}</span>
        </h3>
        <p class="fw-light"> Raised on {{ticket.created_on | date: 'medium'}}</p>
        <div class="row">
            <div class="col-md-10">
                <h5><span class="fw-bold">Title:</span> {{ticket.title}}</h5>
                <h5><span class="fw-bold">Description:</span> {{ticket.description}}</h5>

            </div>
            <div class="col-md-2">
                <img src="../../../assets/ticket.png" height="100" width="100%" alt="">
            </div>
        </div>
    </div>
    <div class="accordion mb-3" id="detailAccordion">
        <div class="accordion-item" *ngIf="currentUser && currentUser.role !== 'CUSTOMER' && ticket.customer">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#customerDetails"> Customer Details</button>
            </h2>
            <div class="accordion-collapse collapse mb-3 p-0" id="customerDetails" data-bs-parent="#detailAccordion">
                <div class="accordion-body">
                    <app-user-detail [user]="ticket.customer" role="Customer"></app-user-detail>
                </div>
            </div>

        </div>
        <div class="accordion-item" *ngIf="currentUser && currentUser.role !== 'EMPLOYEE' && ticket.helpdesk_assigned">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#helpdeskDetails"> Helpdesk Details</button>
            </h2>
            <div class="accordion-collapse collapse mb-3 p-0" id="helpdeskDetails" data-bs-parent="#detailAccordion">
                <div class="accordion-body">
                    <app-user-detail [user]="ticket.helpdesk_assigned" role="Helpdesk"></app-user-detail>
                </div>
            </div>

        </div>
        <div class="accordion-item" *ngIf="ticket.message_from_helpdesk">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#heldpeskMessage"> Message from helpdesk</button>
            </h2>
            <div class="accordion-collapse collapse mb-3 p-0" id="heldpeskMessage" data-bs-parent="#detailAccordion">
                <div class="accordion-body">
                    <app-message title="Message from helpdesk" [message]="ticket.message_from_helpdesk"></app-message>
                </div>
            </div>

        </div>
        <div class="accordion-item"
            *ngIf="feedback && currentUser && (currentUser.role==='CUSTOMER' || currentUser.role === 'MANAGER')">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#feedback">
                    Customer Feedback</button>
            </h2>
            <div class="accordion-collapse collapse mb-3 p-0" id="feedback" data-bs-parent="#detailAccordion">
                <div class="accordion-body">
                    <div class="card p-3">
                        <div class="card-body">
                            <h3 class="card-title" style="text-align:center">Feedback from customer</h3>
                            <h6 class="card-subtitle mb-2 text-muted">{{feedback.created_on| date: 'medium'}}</h6>
                            <hr />
                            <p-rating [(ngModel)]="feedback.stars" [readonly]="true" [cancel]="false"></p-rating>
                            <p style="font-size: medium;">{{feedback.description}}</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="accordion-item" *ngIf="messageFromMgr">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#noteToHelpdesk">Note to Helpdesk by Manager</button>
                <div class="accordion-collapse collapse mb-3 p-0" id="noteToHelpdesk" data-bs-parent="#detailAccordion">
                    <div class="accordion-body">
                        <div class="card p-4">
                            <div class="card-body">
                                <h3 class="card-title" style="text-align:center">Note to helpdesk</h3>
                                <h6 class="card-subtitle mb-2 text-muted">{{messageFromMgr.created_at| date: 'medium'}}
                                </h6>
                                <hr />
                                <p class="card-text" style="font-size: medium;">{{messageFromMgr.message}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </h2>
        </div>
    </div>

    <button *ngIf="currentUser && currentUser.role==='CUSTOMER' && ticket.status ==='closed'"
        class="btn btn-primary w-100" (click)="onAddOrEditFeedback()">
        {{feedback? 'Edit' : 'Add'}}
        feedback
    </button>

    <button *ngIf="currentUser && currentUser.role==='HELPDESK' && ticket.status ==='raised'"
        class="btn btn-primary w-100" [routerLink]="['/tickets', ticket.ticket_id, 'operation', 'resolve']">
        Resolve this ticket
    </button>

    <button class="btn btn-primary w-100"
        *ngIf="currentUser && currentUser.role==='HELPDESK' && ticket.status ==='in_progress'"
        [routerLink]="['/tickets', ticket.ticket_id, 'operation', 'close']">
        Close this ticket
    </button>
    <button *ngIf="currentUser && currentUser.role==='MANAGER' && feedback && ticket.status==='closed'"
        class="btn btn-primary w-100" [routerLink]="['/tickets', ticket.ticket_id, 'message-from-mgr']">
        {{messageFromMgr ? 'Edit': 'Add'}}
        Note to Helpdesk
    </button>

</div>