<div class="container">
    <div class="row">
        <div class="form-container">
            <div class="alert alert-info" *ngIf="errorMessage">
                {{errorMessage}}
            </div>
            <form #messageForm="ngForm" (ngSubmit)="handleSubmit(messageForm)">
                <h2 style="text-align: center;">Form for {{operation.slice(0, -1)}}ing Ticket</h2>
                <app-ticket-item [ticket]="ticket"></app-ticket-item>
                <hr />
                <div class="mb-3">
                    <label class="form-label fw-bolder">Message to customer*</label>
                    <textarea rows="6" class="form-control" ngModel required
                        name="message_from_helpdesk" #msg="ngModel"></textarea>
                    <div class="invalid-message" *ngIf="msg.invalid && (msg.dirty || msg.touched)">
                        Please enter the message
                    </div>
                </div>
                <button class="btn btn-primary" type="submit" [disabled]="!messageForm.valid || isLoading">
                    <span *ngIf="!isLoading; else loading">{{operation}} this ticket</span>
                    <ng-template #loading>
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        <span class="sr-only"> Loading...</span>
                    </ng-template>
                </button>
            </form>
        </div>
    </div>
</div>